/*  Fonts
-----
font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif;
*/

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

/* =================
Typography
================= */

h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    font-size: 2rem;
    margin: 0;
}

.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
}

/* =================
Layout
================= */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

header {
    background: #f8f8f8;
    padding: 2em 0;
}

@media (max-width: 675px) {
    .container-nav {
        flex-direction: column;
    }
    
    header {
        text-align: center;
    }
}

/* navigation */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}

@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
    }
    
    nav li {
        margin: .5em 0;
    }
}


/*  */

main {
    max-width: 1005px;
    display: flex;
}

.main {
    max-width: 714px;
    min-width: 80%;
}

.upfront .blog-img img {
    width: 100%;
    height: 308px;
    object-fit: cover;
    object-position: 0 100%;
}

.blog-date {
    font-family: 'lato', sans-serif;
    font-size: 0.85rem;
    color: #707070;
}

.blog-container h2 {
    font-family: 'lora', sans-serif;
    font-size: 1.35em;
    color: #143774
}

.blog-text {
    color: #707070;
}

.blog-continue {
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: bold;
    color: 1792D2;
}

.blog-continue a {
    text-decoration: none;
}

.blog-continue a:hover, 
.blog-continue a:focus {

}

.blog-card {
    display: flex;
    border: 1px solid black;
}

.card-img .blog-img {
    width: 100%;
}